<script src="/js/ano_letivo/excluir.js"></script>

<!-- Main Section -->
<div class="col-md-9">
    <section class="mb-5">
        <h4 class="text-primary">Anos Letivos</h4>

        
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" id="ckTodos"></th>
                    <th>ID</th>
                    <th>Ano Letivo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <%for(let i=0; i < lista_anos.length; i++){%>
                    <tr>
                        <td><input type='checkbox' class='check_del' data-id="<%= lista_anos[i].id%>" data-name="<%= lista_anos[i].ano_letivo%>"></td>
                        <td><%= lista_anos[i].id%></td>
                        <td><%= lista_anos[i].ano_letivo%></td>
                        <td>
                            <a href="/ano_letivo/editar/<%= lista_anos[i].id%>" class="btn btn-primary">
                                Editar
                            </a>
                            <button class="btn btn-danger excluir" data-id="<%= lista_anos[i].id%>" data-name="<%= lista_anos[i].ano_letivo%>">Excluir</button>
                        </td>
                    </tr>
                <%}%>
            </tbody>
        </table>
        <div>
            <a href="/ano_letivo/cadastrar" class="btn btn-primary">Cadastrar Ano Letivo</a>
            <input type="button" class="btn btn-danger" value="excluir selecionados" id="btnExcluirSelecionados">
        </div>
    </section>
</div>
<!-- Content End -->