<script src="/js/disciplina/excluir.js"></script>

<!-- Main Section -->
<div class="col-md-9">
    <section class="mb-5">
        <h4 class="text-primary">Anos Letivos</h4>

        
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" id="ckTodos"></th>
                    <th>ID</th>
                    <th>Nome da Disciplina</th>
                    <th>Carga Horaria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <%for(let i=0; i < lista_disciplina.length; i++){%>
                    <tr>
                        <td><input type='checkbox' class='check_del' data-id="<%= lista_disciplina[i].id%>" data-name="<%= lista_disciplina[i].nome%>"></td>
                        <td><%= lista_disciplina[i].id%></td>
                        <td><%= lista_disciplina[i].nome%></td>
                        <td><%= lista_disciplina[i].carga_horaria%></td>
                        <td>
                            <a href="/disciplina/editar/<%= lista_disciplina[i].id%>" class="btn btn-primary">
                                Editar
                            </a>
                            <button class="btn btn-danger excluir" data-id="<%= lista_disciplina[i].id%>" data-name="<%= lista_disciplina[i].nome%>">Excluir</button>
                        </td>
                    </tr>
                <%}%>
            </tbody>
        </table>
        <div>
            <a href="/disciplina/cadastrar" class="btn btn-primary">Cadastrar Disciplina</a>
            <input type="button" class="btn btn-danger" value="excluir selecionados" id="btnExcluirSelecionados">
        </div>
    </section>
</div>
<!-- Content End -->